<!doctype html>
<html lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<title> Nous Contacter : Le Soir d&#039;Algérie</title>
</head>
<body>
<div >
<header >
<p ><a href="/" accesskey="h">Le soir d'Algérie</a></p>
<nav >
<ul>
<li><a href="#nav" accesskey="n">Aller a la navigation (n)</a></li>
<li><a href="#content" accesskey="c">Aller au contenu (c)</a></li>
<li><a href="#footer" accesskey="f">Aller au pied de page (f)</a></li>
</ul>
</nav>
<nav  aria-label="Navigation">
<ul>
<li><a href="https://www.lesoirdalgerie.dz/actualites">Actualités</a></li>
<li><a href="https://www.lesoirdalgerie.dz/periscoop">Périscoop</a></li>
<li><a href="https://www.lesoirdalgerie.dz/sports">Sports</a></li>
<li><a href="https://www.lesoirdalgerie.dz/regions">Régions</a></li>
<li><a href="https://www.lesoirdalgerie.dz/monde">Monde</a></li>
<li><a href="https://www.lesoirdalgerie.dz/culture">Culture</a></li>
<li><a href="https://www.lesoirdalgerie.dz/femme-magazine">Femme Magazine</a></li>
</ul>
<ul>
<li><a href="#aside"><i aria-hidden="true" ></i> <span>Menu</span></a></li>
<li><a href="#search"><i aria-hidden="true" ></i> <span>Search</span></a></li>
<li ><a href="https://www.lesoirdalgerie.dz/videos"><i aria-hidden="true" ></i> <span>Vidéos</span></a></li>
<li ><a href="https://www.lesoirdalgerie.dz/derniers-actualites"><i aria-hidden="true" ></i> <span>Dernières actualités</span></a></li>
</ul>
</nav>
<form action="https://www.lesoirdalgerie.dz/recherche" method="get" >
<p>
<label for="sa">Recherche :</label>
<input type="search"  name="sa" placeholder="Recherche dans le site" minlength="4" maxlength="50" autocomplete="off" required>
<button type="submit">Recherche</button>
</p>
</form>
<nav >
<ul>
<li><a href="https://www.lesoirdalgerie.dz">Accueil</a></li>
<li><a href="https://www.lesoirdalgerie.dz/page/a-propos-du-journal-1">A propos</a></li>
<li><a href="https://www.lesoirdalgerie.dz/page/nous-contacter-2">Contactez-nous</a></li>
</ul>
<ul>
<li>Samedi 5 Mars 2022 10:42:25</li>
<li><a href="https://play.google.com/store/apps/details?id=inc.kreo.lesoirdalgerie" rel="external" target="_blank"><i aria-hidden="true" ></i> <span>Google Play</span></a></li>
<li><a href="https://twitter.com/soir_officiel" rel="external" target="_blank"><i aria-hidden="true" ></i> <span>Twitter</span></a></li>
<li><a href="https://www.facebook.com/lesoirdalgerieofficiel/" rel="external" target="_blank"><i aria-hidden="true" ></i> <span>Facebook</span></a></li>
<li><a href="https://www.lesoirdalgerie.dz/feed" rel="external" target="_blank"><i aria-hidden="true" ></i> <span>RSS</span></a></li>
</ul>
</nav>
<nav >
<ul >
<li>Dans l’actu</li>
<li><a href="https://www.lesoirdalgerie.dz/tag/ukraine">Ukraine</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/russie">Russie</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/abdelmadjid-tebboune">Abdelmadjid Tebboune</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/polisario">Polisario</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/sahara-occidental">Sahara occidental</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/education">Éducation</a></li>
</ul>
<ul>
<li  v-show="ready" >
<a href="./">{{ city }}, <span >{{ temperature }}° C</span> <img v-bind:src="iconURL" v-bind:alt="description" width="35" height="35"></a>
<ul>
<li><a v-on:click.prevent="init('Alger')" href="Alger">Alger</a></li>
<li><a v-on:click.prevent="init('Annaba')" href="Annaba">Annaba</a></li>
<li><a v-on:click.prevent="init('Tizi-Ouzou')" href="Tizi-Ouzou">Tizi-Ouzou</a></li>
<li><a v-on:click.prevent="init('Constantine')" href="Constantine">Constantine</a></li>
<li><a v-on:click.prevent="init('Tindouf')" href="Tindouf">Tindouf</a></li>
<li><a v-on:click.prevent="init('Oran')" href="Oran">Oran</a></li>
<li><a v-on:click.prevent="init('Ouargla')" href="Ouargla">Ouargla</a></li>
<li><a v-on:click.prevent="init('Adrar')" href="Adrar">Adrar</a></li>
</ul>
</li>
<li><a href="https://www.lesoirdalgerie.dz/derniers-actualites"><i aria-hidden="true" ></i> <span >Dernières actualités</span></a></li>
<li><a href="https://www.lesoirdalgerie.dz/videos"><i aria-hidden="true" ></i> <span >Vidéos</span></a></li>
<li><a href="https://www.lesoirdalgerie.dz/photos"><i aria-hidden="true" ></i> <span >Photos</span></a></li>
</ul>
</nav>
</header>
<aside >
<form action="https://www.lesoirdalgerie.dz/recherche" method="get">
<p>
<label for="sa">Recherche dans le site</label>
<input type="search"  name="sa" placeholder="Recherche dans le site" minlength="4" maxlength="50" autocomplete="off" required>
<button type="submit">Recherche</button>
</p>
</form>
<nav>
<ul >
<li>En ce moment</li>
<li><a href="https://www.lesoirdalgerie.dz/tag/ukraine">Ukraine</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/russie">Russie</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/abdelmadjid-tebboune">Abdelmadjid Tebboune</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/polisario">Polisario</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/sahara-occidental">Sahara occidental</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tag/education">Éducation</a></li>
</ul>
<ul >
<li><a href="https://www.lesoirdalgerie.dz/derniers-actualites"><i aria-hidden="true" ></i> Dernière Actualités</a></li>
<li><a href="https://www.lesoirdalgerie.dz/flash"><i aria-hidden="true" ></i> L’Info en continu</a></li>
<li><a href="https://www.lesoirdalgerie.dz/multimedia"><i aria-hidden="true" ></i> Multimedia</a></li>
<li><a href="https://www.lesoirdalgerie.dz/caricature"><i aria-hidden="true" ></i> Caricature</a></li>
</ul>
<ul>
<li>Actualités</li>
<li><a href="https://www.lesoirdalgerie.dz/actualites"> Actualités</a></li>
<li><a href="https://www.lesoirdalgerie.dz/analyse"> Analyse</a></li>
<li><a href="https://www.lesoirdalgerie.dz/anniversaire"> Anniversaire</a></li>
<li><a href="https://www.lesoirdalgerie.dz/contribution"> Contribution</a></li>
<li><a href="https://www.lesoirdalgerie.dz/corruption"> Corruption</a></li>
<li><a href="https://www.lesoirdalgerie.dz/courrier-des-investisseurs"> Courrier des investisseurs</a></li>
<li><a href="https://www.lesoirdalgerie.dz/culture"> Culture</a></li>
<li><a href="https://www.lesoirdalgerie.dz/debat"> Débat</a></li>
<li><a href="https://www.lesoirdalgerie.dz/dossier"> Dossier</a></li>
<li><a href="https://www.lesoirdalgerie.dz/economie"> Économie</a></li>
<li><a href="https://www.lesoirdalgerie.dz/enquete"> Enquete</a></li>
<li><a href="https://www.lesoirdalgerie.dz/entretien"> Entretien</a></li>
<li><a href="https://www.lesoirdalgerie.dz/ete-2018"> Été 2018</a></li>
<li><a href="https://www.lesoirdalgerie.dz/etude"> Etude</a></li>
<li><a href="https://www.lesoirdalgerie.dz/evocation"> Evocation</a></li>
<li><a href="https://www.lesoirdalgerie.dz/faits-divers"> Faits divers</a></li>
<li><a href="https://www.lesoirdalgerie.dz/femme-magazine"> Femme Magazine</a></li>
<li><a href="https://www.lesoirdalgerie.dz/fiction"> Fiction</a></li>
<li><a href="https://www.lesoirdalgerie.dz/hisoire"> Hisoire</a></li>
<li><a href="https://www.lesoirdalgerie.dz/hommage"> Hommage</a></li>
<li><a href="https://www.lesoirdalgerie.dz/le-soir-auto"> Le Soir Auto</a></li>
<li><a href="https://www.lesoirdalgerie.dz/le-soir-sante"> Le Soir Santé</a></li>
<li><a href="https://www.lesoirdalgerie.dz/le-soirmagazine"> Le Soirmagazine</a></li>
<li><a href="https://www.lesoirdalgerie.dz/livre"> Livre</a></li>
<li><a href="https://www.lesoirdalgerie.dz/mobiles"> Mobiles</a></li>
<li><a href="https://www.lesoirdalgerie.dz/monde"> Monde</a></li>
<li><a href="https://www.lesoirdalgerie.dz/periscoop"> Périscoop</a></li>
<li><a href="https://www.lesoirdalgerie.dz/polemique"> Polémique</a></li>
<li><a href="https://www.lesoirdalgerie.dz/publicite"> Publicité</a></li>
<li><a href="https://www.lesoirdalgerie.dz/regions"> Régions</a></li>
<li><a href="https://www.lesoirdalgerie.dz/reportage"> Reportage</a></li>
<li><a href="https://www.lesoirdalgerie.dz/retraite"> Retraite</a></li>
<li><a href="https://www.lesoirdalgerie.dz/societe"> Société</a></li>
<li><a href="https://www.lesoirdalgerie.dz/sondage"> Sondage</a></li>
<li><a href="https://www.lesoirdalgerie.dz/sports"> Sports</a></li>
<li><a href="https://www.lesoirdalgerie.dz/supplement-tic"> Supplément TIC</a></li>
<li><a href="https://www.lesoirdalgerie.dz/voyage"> Voyage</a></li>
</ul>
<ul>
<li>Chroniques</li>
<li><a href="https://www.lesoirdalgerie.dz/a-fonds-perdus"> A fonds perdus</a></li>
<li><a href="https://www.lesoirdalgerie.dz/billet-pas-doux"> BILLET (PAS) DOUX</a></li>
<li><a href="https://www.lesoirdalgerie.dz/ce-monde-qui-bouge"> Ce monde qui bouge</a></li>
<li><a href="https://www.lesoirdalgerie.dz/constances"> Constances</a></li>
<li><a href="https://www.lesoirdalgerie.dz/contre-poings"> Contre poings</a></li>
<li><a href="https://www.lesoirdalgerie.dz/digoutage"> Digoutage</a></li>
<li><a href="https://www.lesoirdalgerie.dz/haltes-estivales"> Haltes Estivales</a></li>
<li><a href="https://www.lesoirdalgerie.dz/ici-mieux-que-la-bas"> Ici mieux que là-bas</a></li>
<li><a href="https://www.lesoirdalgerie.dz/kiosque-arabe"> Kiosque arabe</a></li>
<li><a href="https://www.lesoirdalgerie.dz/l-apres-vendredi"> L&#039;APRÈS-VENDREDI</a></li>
<li><a href="https://www.lesoirdalgerie.dz/l-imparfait-du-subjectif"> L’imparfait du subjectif</a></li>
<li><a href="https://www.lesoirdalgerie.dz/les-choses-de-la-vie"> Les choses de la vie</a></li>
<li><a href="https://www.lesoirdalgerie.dz/lettre-de-province"> Lettre de province</a></li>
<li><a href="https://www.lesoirdalgerie.dz/mazalna-ouagfine"> MAZALNA OUAGFINE !</a></li>
<li><a href="https://www.lesoirdalgerie.dz/point-virgule"> Point_Virgule</a></li>
<li><a href="https://www.lesoirdalgerie.dz/pousse-avec-eux"> Pousse avec eux</a></li>
<li><a href="https://www.lesoirdalgerie.dz/soit-dit-en-passant"> Soit dit en passant</a></li>
<li><a href="https://www.lesoirdalgerie.dz/tendances"> Tendances</a></li>
</ul>
<ul>
<li><a href="https://www.lesoirdalgerie.dz/page/a-propos-du-journal-1">A propos</a></li>
<li><a href="https://www.lesoirdalgerie.dz/page/nous-contacter-2">Contactez-nous</a></li>
</ul>
<ul >
<li >Nos Réseaux</li>
<li><a href="https://play.google.com/store/apps/details?id=inc.kreo.lesoirdalgerie" rel="external" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >Google Play</span></a></li>
<li><a href="https://twitter.com/soir_officiel" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >Twitter</span></a></li>
<li><a href="https://www.facebook.com/lesoirdalgerieofficiel/" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >Facebook</span></a></li>
<li><a href="https://www.lesoirdalgerie.dz/feed" rel="external" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >RSS</span></a></li>
</ul>
</nav>
</aside>
<main >
<div >
<div >
<p>Urgent</p>
<ul>
<li>Pluies de 20 à 50 mm avec vents violents sur le Centre et l&#039;Est</li>
<li>Moscou annonce un cessez-le-feu pour évacuer les civils de Marioupol</li>
</ul>
</div>
</div>
<figure >
<a rel="external" href="./">
<picture>
<source srcset="https://miro.medium.com/max/640/1*2puTHaqRaWFcXxlI4Qd9RA.jpeg" media="(max-width: 760px)">
<img src="/themes/frontend/img/pub/top_pub.gif" alt="Placeholder" width="970" height="90">
</picture>
</a>
</figure>
<nav >
<p ><span>Le soir d'Algérie</span> Nous Contacter</p>
<ul >
<li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.lesoirdalgerie.dz/s@tkf2byfr2" rel="external"><i aria-hidden="true" ></i> <span >Facebook</span></a></li>
<li><a href="https://twitter.com/intent/tweet?text=Nous Contacter&amp;url=https://www.lesoirdalgerie.dz/s@tkf2byfr2&amp;via=El_Bilade" rel="external"><i aria-hidden="true" ></i> <span >Twitter</span></a></li>
<li><a href="https://wa.me/?text=https://www.lesoirdalgerie.dz/s@tkf2byfr2" rel="external"><i aria-hidden="true" ></i> <span >Whatsapp</span></a></li>
<li><a href="fb-messenger://share/?link=https://www.lesoirdalgerie.dz/s@tkf2byfr2" rel="external"><i aria-hidden="true" ></i> <span >Messanger</span></a></li>
<li><a  href="https://www.lesoirdalgerie.dz/s@tkf2byfr2"><i aria-hidden="true" ></i> <span >URL<br>Copie</span></a></li>
</ul>
</nav>
<div >
<article>
<div >
<p><strong>Le Soir d'Alg&eacute;rie<br />Informations de contact</strong><br />1, Rue Bachir Att ar - Place du 1er -Mai - Alger<br />T&eacute;l. : 021 67.06.58 - 021 67.06.51</p>
<p><strong>DIRECTION-R&Eacute;DACTION :</strong><br />Fax : 021 67.06.76</p>
<p><strong>ADMINISTRATION :</strong><br />Fax : 021 67.06.56</p>
<p><strong>PUBLICIT&Eacute;</strong><br />Le Soir : SI&Egrave;GE<br />1, Rue Bachir Att ar - Place du 1er -Mai - Alger<br />Fax : 021 67.06.75</p>
<p><strong>Nos bureaux :</strong><br /><strong>ANNABA</strong><br />19, rue du CNRA (Cours de la R&eacute;vo lution)<br />T&eacute;l./Fax : 038 45 00 96<br />T&eacute;l&eacute;phone : 038 45 00 8 9</p>
<p><strong>BLIDA</strong><br />103, Avenue Ben-Boula&iuml;d Blida<br />T&eacute;l./Fax : 025 40.10.10<br />T&eacute;l. : 025 40.20.20</p>
<p><strong>CONSTANTINE</strong><br />9, rue Bouderbala (ex-rue petit), Constantine<br />T&eacute;l. : 031 92 .34.23<br />Fax : 031 92.34.22</p>
<p><strong>ORAN</strong><br />3, rue Kerras Aoued.<br />T&eacute;l. : 041 33.23.95</p>
<p><strong>TIZI-OUZOU</strong><br />Bt Bleu,cage C (&agrave; c&ocirc;t&eacute; de la CNEP) 2e &eacute;tage, gauche<br />T&eacute;l./Fax : 026 12 87 04<br />T&eacute;l. : 026 12 87 01</p>
<p><strong>TLEMCEN</strong><br />Cit&eacute; R&rsquo;hiba Bt n&deg;2 RDC.<br />T&eacute;l. : 043 27.30.61<br />Fax : 043 27.30.82</p>
<p><strong>B&Eacute;JA&Iuml;A</strong><br />19, rue Larbi Ben-M&rsquo;hidi (rue Pi&eacute;tonni&egrave;re), B&eacute;ja&iuml;a-ville 06000<br />T&eacute;l. : 034.16.61.20<br />Fax : 034.16.61.90</p>
<p><strong>BORDJ-BOU-ARRERIDJ</strong><br />2, rue Cherifi Mohamed (pr&egrave;s du cin&eacute;ma Vox)<br />T&eacute;l./Fax : (035) 68-10 -52</p>
<p><strong>S&Eacute;TIF</strong><br />T&eacute;l. : 00 213 36.821.111</p>
<p><strong>COMPTES BANCAIRES :</strong><br /><strong>CPA :&nbsp;</strong>Agence Hassiba Ben Bouali N&deg;116.400.11336/2<br /><strong>BNA :&nbsp;</strong>Agence &laquo;G&raquo; Hussein-Dey N&deg; 611.313.335.31<br /><strong>CCP :&nbsp;</strong>N&deg;14653.59<br /><strong>Registre du commerce :</strong>&nbsp;RC N&deg;0013739.B.00</p>
</div>
</article>
<aside>
<figure >
<a rel="external" href="./">
<img src="https://postperspective.com/wp-content/uploads/2018/03/NAB-OLM-Quantum-Web-Banner-300X250-0218-r4.jpg" alt="Placeholder" width="300" height="250">
</a>
</figure>
<h3 ><span>Info en continu</span></h3>
<ul >
<li>
<a href="https://www.lesoirdalgerie.dz/flash/mise-en-service-de-deux-unites-de-production-de-gaz-antalgiques-et-anesthesiants-7724">
<span>18:03</span> Oran : Mise en service de deux unités de production de gaz antalgiques et anesthésiants
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/la-commission-specialisee-de-l-apn-appelle-a-accelerer-la-mise-en-place-d-une-carte-des-terres-agricoles-fertiles-7723">
<span>17:05</span> Agriculture : La commission spécialisée de l&#039;APN appelle à accélérer la mise en place d&#039;une carte des terres agricoles fertiles
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/oran-abrite-la-competition-du-20-au-27-mars-7722">
<span>16:11</span> Sports de combat / mini-olympiade universitaire : Oran abrite la compétition du 20 au 27 mars 
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/rehabilitation-d-anciens-forages-apport-de-7000-m3-j-d-eau-7721">
<span>15:08</span> Médéa : Réhabilitation d’anciens forages, apport de 7000 m3/j d&#039;eau 
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/une-centaine-de-coureurs-attendus-au-grand-prix-d-oran-7719">
<span>14:23</span> Cyclisme : Une centaine de coureurs attendus au grand prix d’Oran
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/oran-abrite-le-championnat-d-afrique-zone-1-en-mai-prochain-7720">
<span>14:01</span> Athlétisme : Oran abrite le championnat d’Afrique (Zone 1) en mai prochain
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/exposition-de-photos-des-bijoux-traditionnels-7718">
<span>13:04</span> Constantine : Exposition de photos des bijoux traditionnels
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/3-deces-et-84-blesses-durant-les-dernieres-24-heures-7717">
<span>12:15</span> Accidents de la route : 3 décès et 84 blessés durant les dernières 24 heures
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/twitter-bloque-a-son-tour-les-medias-russes-rt-et-sputnik-en-europe-7716">
<span>11:12</span> Twitter bloque à son tour les médias russes RT et Sputnik en Europe
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/l-afrique-doit-depenser-30-milliards-de-dollars-par-an-pour-repondre-a-ses-besoins-en-eau-7714">
<span>10:45</span> UA : L&#039;Afrique doit dépenser 30 milliards de dollars par an pour répondre à ses besoins en eau
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/le-hca-sera-present-avec-27-nouveaux-titres-en-tamazight-7715">
<span>10:23</span> SILA : Le HCA sera présent avec 27 nouveaux titres en Tamazight
</a>
</li>
<li>
<a href="https://www.lesoirdalgerie.dz/flash/la-communaute-internationale-doit-traiter-avec-les-talibans-en-afghanistan-7712">
<span>09:40</span> Selon une envoyée de l&#039;ONU : La communauté internationale doit traiter avec les talibans en Afghanistan
</a>
</li>
<li ><a href="https://www.lesoirdalgerie.dz/flash">Voir tous</a></li>
</ul>
<div >
<div >
<form v-on:submit.prevent="vote" v-bind: >
<header>
<h3 >Sondages</h3>
<p><a href="https://www.lesoirdalgerie.dz/sondages"><i aria-hidden="true" ></i> Archive</a></p>
</header>
<p>Avez-vous déjà commencé les préparatifs pour le mois de Ramadhan ?</p>
<div  v-if="responseText" v-bind:>
<p>{{ responseText }}</p>
</div>
<ul  v-if="!visitorVote && !result">
<li>
<input v-on:change="updateChoice" type="radio" name="sondage_choice"  value="58">
<label for="sondage_choice_58">Oui</label>
</li>
<li>
<input v-on:change="updateChoice" type="radio" name="sondage_choice"  value="59">
<label for="sondage_choice_59">Non</label>
</li>
<li>
<input v-on:change="updateChoice" type="radio" name="sondage_choice"  value="60">
<label for="sondage_choice_60">Sans Opinion</label>
</li>
</ul>
<p  v-if="!visitorVote && !result">
<button type="submit">Exprimez-vous</button>
</p>
<p  v-if="visitorVote">
<button name="showVotes" v-on:click.prevent="showVotes(true)" >Voir les résultat </button>
</p>
<footer v-if="visitorVote">
<ul >
<li data-val="19.3">Oui <span>19.3% (56)</span></li>
<li data-val="75.2">Non <span>75.2% (218)</span></li>
<li data-val="5.5">Sans Opinion <span>5.5% (16)</span></li>
</ul>
<div >
<p>Total des votes : <span >290</span></p>
<a href="./" v-if="!visitorVote" v-on:click.prevent="showVotes(false)"><i ></i> Fermer </a>
</div>
</footer>
</form>
</div>
<h3 >Le dessin de <span >karim</span> <a href="https://www.lesoirdalgerie.dz/caricature" >/ Plus</a></h3>
<figure >
<a href="https://www.lesoirdalgerie.dz/caricature/caricature-du-3-Mars-2022">
<img  src="https://www.lesoirdalgerie.com/storage/images/caricature/load_73b4d2220ece365876cf09ff76fa6dee.jpg" data-src="https://www.lesoirdalgerie.com/storage/images/caricature/ls_73b4d2220ece365876cf09ff76fa6dee.jpg" alt="" width="272" height="272">
</a>
</figure>
<figure >
<img src="/themes/frontend/img/pub/Diaspo10-03-MeryemBelkaid.jpg" alt="Placeholder" width="300" height="600">
</figure>
</div>
</aside>
</div>
<figure >
<a rel="external" href="./">
<img src="https://www.bannersmall.com/wp-content/uploads/2018/02/port-gif97090-00028.gif" alt="Placeholder" width="970" height="250">
</a>
</figure>
<article >
<header >
<h2 >Multimédia</h2>
<p ><a href="https://www.lesoirdalgerie.dz/multimedia" ><i aria-hidden="true" ></i> Plus</a></p>
</header>
<ul >
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_2ec2bd801717332727639a6c0258f714.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_2ec2bd801717332727639a6c0258f714.png" alt="Gares de triages humains !" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/gares-de-triages-humains">Gares de triages humains !</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_e5745541c6204d3539822d5cb9d2490e.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_e5745541c6204d3539822d5cb9d2490e.png" alt="[Le JT] : Mustapha Layadi condamné, le brent frôle les 114 dollars et les délégations russe et ukrainienne attendues pour un 2e round de pourparlers" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/le-jt-mustapha-layadi-condamne-le-brent-frole-les-114-dollars-et-les-delegations-russe-et-ukrainienne-attendues-pour-un-2e-round-de-pourparlers">[Le JT] : Mustapha Layadi condamné, le brent frôle les 114 dollars et les délégations russe et ukrainienne attendues pour un 2e round de pourparlers</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_b1a0ce4f33a5b096bad84756bb5e0725.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_b1a0ce4f33a5b096bad84756bb5e0725.png" alt="Trous de balles !" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/trous-de-balles">Trous de balles !</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_203f7ae384a565db7457966ab768e826.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_203f7ae384a565db7457966ab768e826.png" alt="Ukraine : Huit personnes tuées à Kharkiv et la tour de télévision à Kiev frappée" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/ukraine-huit-personnes-tuees-a-kharkiv-et-la-tour-de-television-a-kiev-frappee">Ukraine : Huit personnes tuées à Kharkiv et la tour de télévision à Kiev frappée</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_2fe4aa1a43eb5e3025eda9ce32a9ec9b.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_2fe4aa1a43eb5e3025eda9ce32a9ec9b.png" alt="Alors camarades ! On ne brandit pas de pancarte « Je suis Russia Today ! » aujourd’hui ?" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/alors-camarades-on-ne-brandit-pas-de-pancarte-je-suis-russia-today-aujourd-hui">Alors camarades ! On ne brandit pas de pancarte « Je suis Russia Today ! » aujourd’hui ?</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_708eaed1c113dadaf22290789743faed.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_708eaed1c113dadaf22290789743faed.png" alt="[Le JT] : pourparlers entre Moscou et Kiev et L&#039;Italie sollicite l&#039;Algérie pour moins dépendre du gaz russe" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/le-jt-pourparlers-entre-moscou-et-kiev-et-l-italie-sollicite-l-algerie-pour-moins-dependre-du-gaz-russe">[Le JT] : pourparlers entre Moscou et Kiev et L&#039;Italie sollicite l&#039;Algérie pour moins dépendre du gaz russe</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_338ea01e452c58262e1a3948decb0c22.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_338ea01e452c58262e1a3948decb0c22.png" alt="Fais Dodo l’enfant Do …" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/fais-dodo-l-enfant-do">Fais Dodo l’enfant Do …</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_f223d51c116344574e4bdeac48c351ff.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_f223d51c116344574e4bdeac48c351ff.png" alt="L&#039;histoire légendaire de Fatma El Maâkra" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/l-histoire-legendaire-de-fatma-el-maakra-34">L&#039;histoire légendaire de Fatma El Maâkra</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_dd3536650e94a43ea20c1ac081ef0742.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_dd3536650e94a43ea20c1ac081ef0742.png" alt="[Le JT] : Zelensky porte plainte contre la Russie et Sontrach disposée à soutenir ses partenaires européens" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/le-jt-zelensky-porte-plainte-contre-la-russie-et-sontrach-disposee-a-soutenir-ses-partenaires-europeens-33">[Le JT] : Zelensky porte plainte contre la Russie et Sontrach disposée à soutenir ses partenaires européens</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_67d6b58423b87f55bddfb3b7849d7952.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_67d6b58423b87f55bddfb3b7849d7952.png" alt="Exorciser le viol de l’Algérie !" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/exorciser-le-viol-de-l-algerie-1">Exorciser le viol de l’Algérie !</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_209dce667910347b68a13ca1daad4e91.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_209dce667910347b68a13ca1daad4e91.png" alt="Les bonnes frappes, les mauvaises frappes et les p’tites frappes !" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/les-bonnes-frappes-les-mauvaises-frappes-et-les-p-tites-frappes-30">Les bonnes frappes, les mauvaises frappes et les p’tites frappes !</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_d7bbe2bec8600c388b3e45f37ee991c2.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_d7bbe2bec8600c388b3e45f37ee991c2.png" alt="[Le JT] : Guerre en Ukraine, pétrole et Goudjil plébiscité pour un nouveau mandat" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/le-jt-guerre-en-ukraine-petrole-et-goudjil-plebiscite-pour-un-nouveau-mandat-29">[Le JT] : Guerre en Ukraine, pétrole et Goudjil plébiscité pour un nouveau mandat</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_eeda9e41dfa6e7f6b7be07a2b475cc93.jpg" src="https://www.lesoirdalgerie.com/storage/images/video/load_eeda9e41dfa6e7f6b7be07a2b475cc93.jpg" alt="Maya Zerrouki reçoit Khadidja Benouataf, Impact strategist (Tahiti)" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/maya-zerrouki-recoit-khadidja-benouataf-impact-strategist-tahiti-28">Maya Zerrouki reçoit Khadidja Benouataf, Impact strategist (Tahiti)</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_f5344d556a5da6ceca87a663fcf60d30.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_f5344d556a5da6ceca87a663fcf60d30.png" alt="C’est le mois des soldes sur les divans !" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/c-est-le-mois-des-soldes-sur-les-divans">C’est le mois des soldes sur les divans !</a></h3>
</li>
<li>
<figure>
<img  data-src="https://www.lesoirdalgerie.com/storage/images/video/lsm_f5532c26c18afa8fd2fcaca07b4481b7.png" src="https://www.lesoirdalgerie.com/storage/images/video/load_f5532c26c18afa8fd2fcaca07b4481b7.png" alt="[Le JT] : SIPHAL, Sonatrach et crise ukrainienne" width="280" height="160">
<i aria-hidden="true" ></i>
</figure>
<h3><a href="https://www.lesoirdalgerie.dz/videos/le-jt-siphal-sonatrach-et-crise-ukrainienne-26">[Le JT] : SIPHAL, Sonatrach et crise ukrainienne</a></h3>
</li>
</ul>
</article>
<div >
<div >
<article>
<header >
<h2>Les + <span >populaires</span> de la semaine</h2>
<p >(*) Période 7 derniers jours</p>
</header>
<ol >
<li>
<ul >
<li ><a href="https://www.lesoirdalgerie.dz/actualites">Actualités</a></li>
<li>15:26</li>
<li>01-03-2022</li>
</ul>
<h3>
<a href="https://www.lesoirdalgerie.dz/actualites/neige-a-600-m-d-altitude-temperatures-de-moins-5-et-vagues-de-5-metres-de-haut-ce-week-end-76359">
<span >MÉTÉO</span>
Neige à 600 m d&#039;altitude, températures de moins 5° et vagues de 5 mètres de haut ce week-end
</a>
</h3>
</li>
<li>
<ul >
<li ><a href="https://www.lesoirdalgerie.dz/societe">Société</a></li>
<li>11:00</li>
<li>01-03-2022</li>
</ul>
<h3>
<a href="https://www.lesoirdalgerie.dz/societe/un-nouvel-horizon-76292">
<span >Les retraités en Algérie</span>
Un nouvel horizon
</a>
</h3>
</li>
<li>
<ul >
<li ><a href="https://www.lesoirdalgerie.dz/actualites">Actualités</a></li>
<li>23:29</li>
<li>27-02-2022</li>
</ul>
<h3>
<a href="https://www.lesoirdalgerie.dz/actualites/condoleances-du-president-tebboune-76257">
<span >Décès de Talbi Mohamed Abdel Moneim en Ukraine</span>
Condoléances du Président Tebboune
</a>
</h3>
</li>
<li>
<ul >
<li ><a href="https://www.lesoirdalgerie.dz/actualites">Actualités</a></li>
<li>20:35</li>
<li>26-02-2022</li>
</ul>
<h3>
<a href="https://www.lesoirdalgerie.dz/actualites/le-russe-ibrahimovictch-proprietaire-de-chelsea-decide-de-prendre-du-recul-76191">
<span >CONSÉQUENCE DE LA GUERRE</span>
Le russe Ibrahimovictch, propriétaire de Chelsea, décide de &quot;prendre du recul&quot;
</a>
</h3>
</li>
<li>
<ul >
<li ><a href="https://www.lesoirdalgerie.dz/actualites">Actualités</a></li>
<li>07:12</li>
<li>28-02-2022</li>
</ul>
<h3>
<a href="https://www.lesoirdalgerie.dz/actualites/plus-de-5-pour-le-brent-76261">
<span >Pétrole</span>
Plus de 5% pour le Brent
</a>
</h3>
</li>
<li>
<ul >
<li ><a href="https://www.lesoirdalgerie.dz/actualites">Actualités</a></li>
<li>08:35</li>
<li>27-02-2022</li>
</ul>
<h3>
<a href="https://www.lesoirdalgerie.dz/actualites/pluies-orageuses-sur-la-steppe-de-l-ouest-et-du-centre-76196">
<span >MÉTÉO</span>
Pluies orageuses sur la steppe de l&#039;Ouest et du Centre
</a>
</h3>
</li>
</ol>
</article>
<aside>
<form >
<figure>
<a target="_blank" href="https://www.lesoirdalgerie.dz/pdf/edition/latest" title="N°9579 03/03/2022">
<img  data-src="https://www.lesoirdalgerie.com/storage/images/pdf/ls_7163c0ffba4de1f95231e763c440627c.jpg" src="https://www.lesoirdalgerie.com/storage/images/pdf/ls_7163c0ffba4de1f95231e763c440627c.jpg" alt="N°9579 03/03/2022" width="145" height="220">
</a>
</figure>
<h3>édition <span >PDF</span> <span >N° 9579
03/03/2022</span></h3>
<p>Toute les anciennes éditions en PDF de votre journal lesoir d’algérie</p>
<div  ><p>Aucun pdf n&#039;a été trouvé..</p></div>
<p>
<label for="sfdb" >Séléctionnez une date.</label>
<input type="text"  name="date" autocomplete="off" data-position='top left' placeholder="Séléctionnez une date."  required>
<input type="hidden" name="type" value="edition" />
<button type="submit">Consulter</button>
</p>
</form>
<form >
<header>
<h3>Bad <span >news</span> <span >Par <span >slim</span></span> <span >N° 03032022
03/03/2022</span></h3>
<p >
<input  type="text"  name="date" autocomplete="off" data-position='top left' placeholder="Séléctionnez une date."  required>
<a   type="button"><i aria-hidden="true" ></i> Archive</a>
</p>
<input type="hidden" name="type" value="slim" />
</header>
<div  ><p>Aucun pdf n&#039;a été trouvé..</p></div>
<figure >
<a target="_blank" href="https://www.lesoirdalgerie.dz/pdf/slim/latest" title="N°03032022 03/03/2022">
<img  data-src="https://www.lesoirdalgerie.com/storage/images/pdf/d_85f118715be2cc5d5d2ca31bb18c833d.jpg" src="https://www.lesoirdalgerie.com/storage/images/pdf/ls_85f118715be2cc5d5d2ca31bb18c833d.jpg" alt="N°03032022 03/03/2022" width="230" height="340">
</a>
</figure>
</form>
</aside>
</div>
</div>
<figure >
<a rel="external" href="./">
<picture>
<source srcset="https://miro.medium.com/max/640/1*2puTHaqRaWFcXxlI4Qd9RA.jpeg" media="(max-width: 760px)">
<img src="/themes/frontend/img/pub/top_pub.gif" alt="Placeholder" width="970" height="90">
</picture>
</a>
</figure>
</main>
<div >
<div >
<p>Urgent</p>
<ul>
<li>Pluies de 20 à 50 mm avec vents violents sur le Centre et l&#039;Est</li>
<li>Moscou annonce un cessez-le-feu pour évacuer les civils de Marioupol</li>
</ul>
</div>
</div>
<footer >
<nav>
<ul>
<li><a href="https://www.lesoirdalgerie.dz">Accueil</a></li>
<li><a href="https://www.lesoirdalgerie.dz/page/a-propos-du-journal-1">A propos</a></li>
<li><a href="https://www.lesoirdalgerie.dz/page/nous-contacter-2">Contactez-nous</a></li>
</ul>
</nav>
<div>
<p><span >Quotidien national d’information</span><br> 1, Rue Bachir Attar Place du 1er Mai - Alger<br> Tél : <a href="tel:021670658">021 67.06.58</a> - <a href="tel:021670651">021 67.06.51</a> Fax: 021 67.06.75<br> Mail : <a href="./" >info//lesoirdalgerie/com</a></p>
<p>&copy; <span >lesoirdalgerie.Com</span> - tous droits réservés - Conception et Réalisation <a rel="external" href="//kreo-agency.com"><i aria-hidden="true" ></i> <span >Kreo Agency</span></a></p>
<ul >
<li><a href="https://play.google.com/store/apps/details?id=inc.kreo.lesoirdalgerie" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >Google Play</span></a></li>
<li><a href="https://twitter.com/soir_officiel" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >Twitter</span></a></li>
<li><a href="https://www.facebook.com/lesoirdalgerieofficiel/" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >Facebook</span></a></li>
<li><a href="https://www.lesoirdalgerie.dz/feed" rel="external" target="_blank"><i aria-hidden="true" ></i> <span >RSS</span></a></li>
</ul>
</div>
</footer>
</div>
</body>
</html>
