<!doctype html>
<html lang="fr-dz" dir="ltr">
    
    <head>
    <meta charset="utf-8">

    <title>L&#039;Expression:  Contact </title>

</head>
    <body>
        <div class="loadingModal"></div>
        <div id="root" data-background="content">
            <figure class="scheme-pattern">
<ins data-revive-zoneid="1"  data-revive-id="cda2c019617d2e57d57985e1a03978e0"></ins>
<script async src="https://ads.lexpressiondz.com/www/delivery/asyncjs.php"></script> 


</figure>

            
            <header id="top">
    <p id= logodz><a href="/" accesskey="h">L'Expression</a></p>
    <nav id="skip">
        <ul>
            <li><a href="#nav" accesskey="n">Aller a la navigation (n)</a></li>
            <li><a href="#content" accesskey="c">Aller au contenu (c)</a></li>
            <li><a href="#footer" accesskey="p">Aller au pied de page (p)</a></li>
        </ul>
    </nav>

    
    <nav id="nav" aria-label="Navigation">
    <ul>
                    <li>
                <a accesskey="1" href="https://www.lexpression.dz/nationale">Nationale</a> <em>(1)</em>
            </li>
                    <li>
                <a accesskey="1" href="https://www.lexpression.dz/internationale">Internationale</a> <em>(1)</em>
            </li>
                    <li>
                <a accesskey="1" href="https://www.lexpression.dz/sports">Sports</a> <em>(1)</em>
            </li>
                    <li>
                <a accesskey="1" href="https://www.lexpression.dz/culture">Culture</a> <em>(1)</em>
            </li>
                    <li>
                <a accesskey="1" href="https://www.lexpression.dz/societe">Société</a> <em>(1)</em>
            </li>
                    <li>
                <a accesskey="1" href="https://www.lexpression.dz/regions">Régions</a> <em>(1)</em>
            </li>
                    <li>
                <a accesskey="1" href="https://www.lexpression.dz/economie">Economie</a> <em>(1)</em>
            </li>
            </ul>
</nav>

    
    <nav id="sub" aria-label="Toutes les rubriques">
    <div>
        <p>Section</p>
        <ul>
                            <li><a href="https://www.lexpression.dz/nationale">Nationale</a></li>
                            <li><a href="https://www.lexpression.dz/internationale">Internationale</a></li>
                            <li><a href="https://www.lexpression.dz/sports">Sports</a></li>
                            <li><a href="https://www.lexpression.dz/societe">Société</a></li>
                            <li><a href="https://www.lexpression.dz/economie">Economie</a></li>
                            <li><a href="https://www.lexpression.dz/culture">Culture</a></li>
                            <li><a href="https://www.lexpression.dz/ntic">Ntic</a></li>
                            <li><a href="https://www.lexpression.dz/automobile">Automobile</a></li>
                            <li><a href="https://www.lexpression.dz/a-coeur-ouvert">A coeur ouvert</a></li>
                            <li><a href="https://www.lexpression.dz/dossiers">Dossiers</a></li>
                    </ul>
        <ul>
                            <li><a href="https://www.lexpression.dz/regions">Régions</a></li>
                    </ul>
    </div>
    <div>
        <p>Chroniques</p>
        <ul>
                            <li><a href="https://www.lexpression.dz/chroniques/education">Education</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/a-vrai-dire">A vrai dire</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/regards-croises">Regards croisés</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/le-bloc-notes-de-djaad">Le bloc-notes de Djaad</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/digression">Digression</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/humeur">Humeur</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/scopie">Scopie</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/focus">Focus</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/a-pile-ou-face">A pile ou face</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/escale">Escale</a></li>
                    </ul>
        <ul>
                            <li><a href="https://www.lexpression.dz/chroniques/temps-darret">Temps d&#039;arrêt</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/il-faut-le-dire">Il faut le dire</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/le-revers-de-la-medaille">Le revers de la médaille</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/reperes">Repères</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/l-envers-du-decor">L&#039;envers du décor</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele">De Quoi j&#039;me Mêle</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/l-analyse-du-professeur-chitour">L&#039;analyse du Professeur CHITOUR</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/on-remet-ca">On remet ça</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/la-chronique-judiciaire">La chronique judiciaire</a></li>
                            <li><a href="https://www.lexpression.dz/chroniques/le-temps-de-lire">Le temps de lire</a></li>
                    </ul>
    </div>
    <div>
        <p>Services</p>
        <ul>
            <li><a href="https://www.lexpression.dz/editorials">Editoriaux</a></li>
            <li><a href="https://www.lexpression.dz/multimedia">Galerie photos/vidéos</a></li>
            <li><a rel="external" href="https://play.google.com/store/apps/details?id=com.novasup.lexpression.activity">Application mobile</a></li>
            <li><a href="https://www.lexpression.dz/info-en-continu">Info en continu</a></li>
        </ul>
        
        
        <div class="form-newsletter">
        <figure>
            <a href="https://www.lexpression.dz/pdf/latest" target="_blank">
                <img class="lazyload blur" data-src="https://www.lexpression.dz/storage/images/pdf/m_9b73b1cb34fe1af9cb0d1cd7700013ba.jpg" src="https://www.lexpression.dz/storage/images/pdf/m_9b73b1cb34fe1af9cb0d1cd7700013ba.jpg" alt="N6532_05-03-2022_Xr4mQ.pdf" width="125" height="175"> 
                <span>Lire le PDF</span>
            </a>
        </figure>

        <h2><span>Edition</span> PDF</h2>
        <p>Lire la dernière édition du 05-03-2022</p>
        <p><a href="https://www.lexpression.dz/pdf/latest" class="btn">Voir le PDF</a></p>
    </div>
    </div>
</nav>    
    
    <nav id="up">
    
    <ul>
    <li><a href="/">Accueil</a></li>
            <li>
            <a href="https://www.lexpression.dz/page/contact-1">Contact</a>
        </li>
    </ul>

    <p>Samedi 5 Mars 2022 10:27:55</p>
    <ul class="list-social">
        <li><a rel="external" href="https://play.google.com/store/apps/details?id=com.novasup.lexpression.activity"><i class="icon-google-play"></i> <span>Google Play</span></a></li>
        <li><a rel="external" href="https://twitter.com/LEXPRESSION2"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
        <li><a rel="external" href="https://www.facebook.com/Lexpression-300135350084509/"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
        <li><a href="https://www.lexpression.dz/feeds/index.rssi"><i class="icon-rss"></i> <span>RSS</span></a></li>
    </ul>
</nav>
    
    <div class="module-weather" id="app_weather" v-show="ready">
    <figure><img v-bind:src="iconURL" v-bind:alt="description" width="40" height="45"></figure>
    <ul>
        <li><a v-show="ready" href="#">{{ city }}</a>
            <ul v-on:click.prevent="init($event.target.text)">
                <li><a href="/">Alger</a></li>
                <li><a href="/">Annaba</a></li>
                <li><a href="/">Tizi-Ouzou</a></li>
                <li><a href="/">Constantine</a></li>
                <li><a href="/">Tindouf</a></li>
                <li><a href="/">Oran</a></li>
                <li><a href="/">Ouargla</a></li>
                <li><a href="/">Bejaya</a></li>
                <li><a href="/">Adrar</a></li>
            </ul>
        </li>
    </ul>
    <p style="text-transform: capitalize;">{{ temperature }}° C / {{ description }}</p>
    <span v-if="!city" class="text-error">Cité introuvable.</span>
</div>
 

    
    <form action="https://www.lexpression.dz/recherche" method="get">
    <p>
        <label for="q">Recherche dans le site</label>
        <input type="search" id="q" name="q" required autocomplete="off">
        <button type="submit">Rechercher</button>
    </p>
</form></header>
            <main id="content">
                
                <nav class="nav-breadcrumbs">
    <ol>
                    <li>Vous êtes :</li>
                            <li>
                    <a href="https://www.lexpression.dz">
                        Accueil
                    </a>
                </li>
                            <li>
                    <a href="https://www.lexpression.dz/page/contact-1">
                        Contact
                    </a>
                </li>
                        </ol>
    
    <ul>
        <li><a href="https://www.facebook.com/Lexpression-300135350084509" rel="external">Facebook</a></li>
        <li><a href="https://twitter.com/LEXPRESSION2" rel="external">Twitter</a></li>
        <li><a href="" rel="external">Google+</a></li>
        
        </ul>
</nav>
                <div class="cols-a">
                    
                    
                            <article>
        <header class="heading-a">
            <p>Lexpressiondz.com</p>
            <h1>Contact</h1>
        </header>

        <p><strong>Adresse</strong><br />Maison de la presse Kouba Alger</p>
<p><strong><em>R&eacute;daction, Administration, Direction</em></strong><br /><strong>T&eacute;l&eacute;phone</strong><br />+213 (0) 23.70.94.01<br />+213 (0) 23.70.94.03<br />+213 (0) 23.70.94.11<br /><br /><strong>Fax</strong><br />+213 (0) 23.70.93.98<br /><br /><img src="/storage/uploads/mailrdc.png" alt="" width="285" height="24" /></p>
<p><em><strong>Publicit&eacute;</strong></em><br /><strong>T&eacute;l. / Fax</strong><br />+213 (0) 23.70.94.00<br /><br /><img src="/storage/uploads/mailpub.png" alt="" width="285" height="24" /><br /><br /></p>

        <ul class="list-social">
    <li><a rel="external" href="https://www.facebook.com/sharer/sharer.php?u=https://www.lexpression.dz/page/contact-1"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
    <li><a rel="external" href="https://twitter.com/home?status=Contact https://www.lexpression.dz/page/contact-1"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
    <li><a rel="external" href="https://plus.google.com/share?url=https://www.lexpression.dz/page/contact-1"><i class="icon-google-plus"></i> <span>Google+</span></a></li>
    <li><a rel="external" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.lexpression.dz/page/contact-1&amp;title=Contact"><i class="icon-linkedin"></i> <span>LinkedIn</span></a></li>
</ul>    </article>
                    

                    
                    <aside>
    <figure><ins data-revive-zoneid="2"  data-revive-id="cda2c019617d2e57d57985e1a03978e0"></ins>
<script async src="https://ads.lexpressiondz.com/www/delivery/asyncjs.php"></script></figure>

    
        
    <div class="module-recent">
    <h2><span>Info en</span> continu</h2>
    <ul class="list-news">
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/viandes-blanches-atteindre-une-production-de-10-000-tonnes-avant-ramadhan-330166">
                    <span class="date">
                        <span>23:24</span> 
                        04/03/2022
                    </span> 
                    Viandes blanches: atteindre une production de 10.000 tonnes avant Ramadhan
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/energie-l-etat-veut-assurer-des-stocks-de-carburant-de-30-jours-330165">
                    <span class="date">
                        <span>22:23</span> 
                        04/03/2022
                    </span> 
                    Energie: l&#039;Etat veut assurer des stocks de carburant de 30 jours
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/businessafrica-appel-a-la-mise-en-place-d-une-plate-forme-africaine-d-information-economique-330164">
                    <span class="date">
                        <span>21:22</span> 
                        04/03/2022
                    </span> 
                    Businessafrica: appel à la mise en place d&#039;une plate-forme africaine d&#039;information économique
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/lancement-des-travaux-de-reparation-et-de-maintenance-du-navire-tarik-ibn-zyad-330163">
                    <span class="date">
                        <span>20:22</span> 
                        04/03/2022
                    </span> 
                    Lancement des travaux de réparation et de maintenance du navire Tarik Ibn Zyad
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/des-entreprises-americaines-en-visite-en-algerie-330167">
                    <span class="date">
                        <span>20:00</span> 
                        04/03/2022
                    </span> 
                    Des entreprises américaines en visite en Algérie
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/visa-pour-l-italie-reprise-du-traitement-des-demandes-a-partir-du-6-mars-330161">
                    <span class="date">
                        <span>19:30</span> 
                        04/03/2022
                    </span> 
                    Visa pour l&#039;Italie: reprise du traitement des demandes à partir du 6 mars
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/apn-examen-des-amendements-proposes-au-projet-de-loi-portant-modalites-d-exercice-du-droit-syndical-330162">
                    <span class="date">
                        <span>18:21</span> 
                        04/03/2022
                    </span> 
                    APN: examen des amendements proposés au projet de loi portant modalités d&#039;exercice du droit syndical
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/reprise-des-vols-a-destination-de-dakar-et-de-nouakchott-a-partir-du-27-mars-330160">
                    <span class="date">
                        <span>17:28</span> 
                        04/03/2022
                    </span> 
                    Reprise des vols à destination de Dakar et de Nouakchott à partir du 27 mars
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/importation-de-10-000-vehicules-en-janvier-dernier-par-des-particuliers-330159">
                    <span class="date">
                        <span>16:27</span> 
                        04/03/2022
                    </span> 
                    Importation de 10.000 véhicules en janvier dernier par des particuliers
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/acier-augmenter-la-production-du-secteur-prive-pour-faire-baisser-les-prix-330158">
                    <span class="date">
                        <span>15:26</span> 
                        04/03/2022
                    </span> 
                    Acier : augmenter la production du secteur privé pour faire baisser les prix
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/inspection-generale-de-la-presidence-de-la-republique-concretisation-des-engagements-du-president-tebboune-330157">
                    <span class="date">
                        <span>14:24</span> 
                        04/03/2022
                    </span> 
                    Inspection générale de la Présidence de la République: concrétisation des engagements du Président Tebboune
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/calendrier-des-examens-scolaires-2022-le-bem-et-le-bac-du-6-au-16-juin-prochain-330155">
                    <span class="date">
                        <span>13:21</span> 
                        04/03/2022
                    </span> 
                    Calendrier des examens scolaires 2022 : le BEM et le BAC du 6 au 16 juin prochain
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/mines-la-production-aurifere-a-atteint-6-8-tonnes-jusqu-en-2021-330154">
                    <span class="date">
                        <span>12:30</span> 
                        04/03/2022
                    </span> 
                    Mines: la production aurifère a atteint 6,8 tonnes jusqu&#039;en 2021
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/la-lutte-contre-la-cybercriminalite-tributaire-du-dispositif-legislatif-330156">
                    <span class="date">
                        <span>11:22</span> 
                        04/03/2022
                    </span> 
                    La lutte contre la cybercriminalité tributaire du dispositif législatif
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/arrivee-a-alger-de-76-ressortissants-algeriens-rapatries-d-ukraine-330153">
                    <span class="date">
                        <span>10:29</span> 
                        04/03/2022
                    </span> 
                    Arrivée à Alger de 76 ressortissants algériens rapatriés d&#039;Ukraine
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/le-president-tebboune-installe-l-inspection-generale-de-la-presidence-de-la-republique-330152">
                    <span class="date">
                        <span>09:28</span> 
                        04/03/2022
                    </span> 
                    Le Président Tebboune installe l&#039;Inspection générale de la Présidence de la République
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/l-asbu-prete-a-couvrir-le-prochain-sommet-arabe-en-algerie-330150">
                    <span class="date">
                        <span>23:26</span> 
                        02/03/2022
                    </span> 
                    L&#039;ASBU «prête» à couvrir le prochain sommet arabe en Algérie
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/les-bijoux-de-corail-l-empreinte-du-patrimoine-de-chlef-330148">
                    <span class="date">
                        <span>22:25</span> 
                        02/03/2022
                    </span> 
                    Les bijoux de corail, l&#039;empreinte du patrimoine de Chlef
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/le-groupe-sonelgaz-pret-a-parachever-ses-projets-avec-gecol-330147">
                    <span class="date">
                        <span>21:30</span> 
                        02/03/2022
                    </span> 
                    Le groupe Sonelgaz prêt à parachever ses projets avec GECOL
                </a>
            </li>
                    <li>
                <a href="https://www.lexpression.dz/info-en-continu/investissement-rencontre-entre-hommes-d-affaires-algeriens-et-americains-330146">
                    <span class="date">
                        <span>20:33</span> 
                        02/03/2022
                    </span> 
                    Investissement: rencontre entre hommes d&#039;affaires algériens et américains
                </a>
            </li>
            </ul>
    <p><a href="https://www.lexpression.dz/info-en-continu">Voir les archives</a></p>
</div>

    
    <form class="form-newsletter kreo-pdf-finder">
    <figure>
        <a href="https://www.lexpression.dz/pdf/latest" target="_blank">
            <img class="lazyload blur" data-src="https://www.lexpression.dz/storage/images/pdf/d_9b73b1cb34fe1af9cb0d1cd7700013ba.jpg" src="https://www.lexpression.dz/storage/images/pdf/m_9b73b1cb34fe1af9cb0d1cd7700013ba.jpg" alt="N6532_05-03-2022_l47EG.pdf" width="125" height="175"> 
            <span>Télécharger le PDF</span>
        </a>
    </figure>
    
    <h2><span>Edition</span> PDF</h2>
    <p>Toutes les anciennes éditions en PDF</p>
    <div class="message-box error" style="display:none;"><p>Aucun pdf n'a été trouvé.</p></div>
    <p>
        <label for="date">Sélectionnez</label>
        <input type="text" id="date" name="date" required class="dp" autocomplete="off">
        <button type="submit">Voir le PDF</button>
    </p>
</form>

    <figure>
        <ins data-revive-zoneid="6" data-revive-id="cda2c019617d2e57d57985e1a03978e0"></ins>
<script async src="https://ads.lexpressiondz.com/www/delivery/asyncjs.php"></script>    </figure>
</aside>                </div>

                    <ul class="list-team">
            <li>
            <a href="https://www.lexpression.dz/chroniques/l-ecran-libre/m6-championne-de-l-audience-audiovisuelle-francaise-322669"><span>L&#039;Ecran libre</span> M6 championne de l’audience audiovisuelle française</a>
            <span><a href="https://www.lexpression.dz/profile/amira-soltane-65"><span>Amira SOLTANE</span> <span></span></a></span>
            <img class="lazyload blur" data-src="/storage/images/journaliste/m_2af5f4c8fd699b61d212ab19462f9476.png" src="/storage/images/journaliste/load_2af5f4c8fd699b61d212ab19462f9476.png" alt="Amira SOLTANE" width="120" height="120">
        </li>
            <li>
            <a href="https://www.lexpression.dz/chroniques/la-chronique-judiciaire/la-verite-du-tribunal-322719"><span>La chronique judiciaire</span> La vérité du tribunal</a>
            <span><a href="https://www.lexpression.dz/profile/abdellatif-toualbia-12"><span>Abdellatif TOUALBIA</span> <span></span></a></span>
            <img class="lazyload blur" data-src="/storage/images/journaliste/m_2c1b9150faa40cff5e01c52101cb2db2.png" src="/storage/images/journaliste/load_2c1b9150faa40cff5e01c52101cb2db2.png" alt="Abdellatif TOUALBIA" width="120" height="120">
        </li>
            <li>
            <a href="https://www.lexpression.dz/chroniques/l-analyse-du-professeur-chitour/une-reponse-a-la-prevention-des-risques-majeurs-320437"><span>L&#039;analyse du Professeur CHITOUR</span> Une réponse à la prévention des risques majeurs</a>
            <span><a href="https://www.lexpression.dz/profile/chems-eddine-chitour-270"><span>Chems Eddine CHITOUR</span> <span></span></a></span>
            <img class="lazyload blur" data-src="/storage/images/journaliste/m_3c910568adb66a92eabdc5f6a2a6d246.png" src="/storage/images/journaliste/load_3c910568adb66a92eabdc5f6a2a6d246.png" alt="Chems Eddine CHITOUR" width="120" height="120">
        </li>
            <li>
            <a href="https://www.lexpression.dz/chroniques/l-envers-du-decor/le-maroc-face-a-la-reaction-algerienne-321432"><span>L&#039;envers du décor</span> Le Maroc face à la réaction algérienne</a>
            <span><a href="https://www.lexpression.dz/profile/zouhir-mebarki-320"><span>Zouhir MEBARKI</span> <span></span></a></span>
            <img class="lazyload blur" data-src="/storage/images/journaliste/m_1ba7ef7ca92e906015849238fc1b03fc.png" src="/storage/images/journaliste/load_1ba7ef7ca92e906015849238fc1b03fc.png" alt="Zouhir MEBARKI" width="120" height="120">
        </li>
    </ul>

    <div class="module-recent-cols">
    <h2><span>De Quoi</span> j&#039;me Mêle</h2>
    <ul class="list-news cols">
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/la-loi-sur-la-protection-des-handicapes-finalisee-322712">La loi sur la protection des handicapés finalisée</a></h3>
                <p>En réponse à une question d&#039;un député de l&#039;APN sur la prise en charge de...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/air-algerie-augmente-ses-vols-322713">Air Algérie augmente ses vols</a></h3>
                <p>Le ministère des Transports a annoncé, dans un communiqué, la reprise des vols d&#039;Air Algérie...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/reprise-des-demandes-de-visa-pour-l-italie-322714">Reprise des demandes de visa pour l&#039;Italie</a></h3>
                <p>Le traitement de toutes les demandes de visa, pour l&#039;entrée sur le territoire italien, y...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/l-algerie-pourrait-importer-du-ble-francais-322715">L&#039;Algérie pourrait importer du blé français</a></h3>
                <p>En raison du conflit russo-ukrainien, qui bouleverse l&#039;approvisionnement mondial en blé, l&#039;Office interprofessionnel des céréales...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/deux-importateurs-de-medicaments-suspendus-322716">Deux importateurs de médicaments suspendus</a></h3>
                <p>Le ministère de l&#039;Industrie pharmaceutique a annoncé, jeudi, dans un communiqué, le retrait d&#039;agrément à...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/l-algerie-appelle-a-la-mise-en-place-de-la-businessafrica-322717">L&#039;Algérie appelle à la mise en place de la Businessafrica</a></h3>
                <p>La présidente de la Confédération générale des entreprises algériennes (Cgea) et présidente de Businessafrica, Saïda...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/le-navire-tariq-ibn-ziyad-bientot-remis-en-service-322718">Le navire Tariq ibn Ziyad bientôt remis en service</a></h3>
                <p>Le navire Tarik Ibn Zyad relevant de l&#039;Entreprise nationale de transport maritime de voyageurs (Entmv),...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/526-nouveaux-agents-de-la-dgsn-operationnels-322705">526 nouveaux agents de la Dgsn opérationnels</a></h3>
                <p>Les services opérationnels de la Sûreté nationale comptent 526 nouveaux agents de police ayant suivi...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/2-directeurs-d-hopitaux-limoges-a-constantine-322706">2 directeurs d&#039;hôpitaux limogés à Constantine</a></h3>
                <p>Sur ordre de la tutelle, la direction de la santé de la wilaya de Constantine...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/5-000-juifs-ukrainiens-vont-rejoindre-l-entite-sioniste-322707">5.000 juifs ukrainiens vont rejoindre l&#039;entité sioniste</a></h3>
                <p>Plus de 5.000 personnes en Ukraine ont contacté l&#039;Agence juive en vue d&#039;immigrer en Israël,...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/la-palestine-spoliee-de-ses-antiquites-volees-en-cisjordanie-322708">La Palestine spoliée de ses antiquités volées en Cisjordanie</a></h3>
                <p>Lorsque le procureur de New York a ratifié un accord avec le milliardaire Michael Steinhardt...</p>
            </li>
                    <li>
                <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/la-production-de-volkswagen-perturbee-par-le-conflit-en-ukraine-322709">La production de Volkswagen perturbée par le conflit en Ukraine</a></h3>
                <p>Les groupes automobiles allemands Volkswagen et BMW ont fait état mardi de perturbations attendues dans...</p>
            </li>
            </ul>
</div>
    
    <form class="form-subscription" action="https://www.lexpression.dz/recherche" method="get">
    <figure><img src="/images/datefind.gif" alt="Placeholder" width="365" height="165"></figure>
    <h2>Découvrez toutes <span>les anciennes éditions</span> de votre journal préféré</h2>
    <div class="message-box error" style="display:none;z-index:0 !important;"><p>Aucun pdf n'a été trouvé.</p></div>
    <p>
        <label for="date">Date édition</label>
        <input type="text" id="date" name="date" placeholder="Sélectionnez une date" required class="dp" autocomplete="off">
        <button type="submit">Consulter</button>
    </p>
</form>
    <div class="module-wide">
    <div class="cols-a">
                    <article>
                <header class="heading-b">
                    <h2><span>Les +</span> Populaires</h2>
                    <p>(*) Période 7 derniers jours</p>
                </header>
                <ol class="list-news featured">
                                            <li>
                            <figure><img class="lazyload blur" data-src="https://www.lexpression.dz/storage/images/article/s_32e1f1ec1a10a8c3b9c93d2665a4c7f0.jpg" src="https://www.lexpression.dz/storage/images/article/load_32e1f1ec1a10a8c3b9c93d2665a4c7f0.jpg" alt="Le siège de l’Union européenne" width="400" height="180"></figure>
                            <p>
                                <span>
                                    <span><a href="https://www.lexpression.dz/nationale">Nationale</a></span> 
                                    00:00 | 02-03-2022
                                </span> 
                                La nouvelle donne impacte le partenariat avec l’Europe
                            </p>
                            <h3><a href="https://www.lexpression.dz/nationale/la-carte-gagnante-de-l-algerie-354108">La carte gagnante de l’Algérie</a></h3>
                        </li>
                                            <li>
                            <figure><img class="lazyload blur" data-src="https://www.lexpression.dz/storage/images/article/s_af7654e8c25ac98d27e78cd2e2bacf71.jpg" src="https://www.lexpression.dz/storage/images/article/load_af7654e8c25ac98d27e78cd2e2bacf71.jpg" alt="Des projets palpables verront bientôt le jour" width="400" height="180"></figure>
                            <p>
                                <span>
                                    <span><a href="https://www.lexpression.dz/nationale">Nationale</a></span> 
                                    00:00 | 01-03-2022
                                </span> 
                                De grands projets Qataris et Koweïtiens annoncés
                            </p>
                            <h3><a href="https://www.lexpression.dz/nationale/attractive-nouvelle-algerie-354076">Attractive nouvelle Algérie!</a></h3>
                        </li>
                                            <li>
                            <figure><img class="lazyload blur" data-src="https://www.lexpression.dz/storage/images/article/s_c1025d3e4b99b143b0ed00a906fe0ae5.jpg" src="https://www.lexpression.dz/storage/images/article/load_c1025d3e4b99b143b0ed00a906fe0ae5.jpg" alt="" width="400" height="180"></figure>
                            <p>
                                <span>
                                    <span><a href="https://www.lexpression.dz/internationale">Internationale</a></span> 
                                    00:00 | 03-03-2022
                                </span> 
                                Sanctions contre la Russie
                            </p>
                            <h3><a href="https://www.lexpression.dz/internationale/l-effet-boomerang-354141">L’effet boomerang</a></h3>
                        </li>
                                            <li>
                            <figure><img class="lazyload blur" data-src="https://www.lexpression.dz/storage/images/article/s_4389c4abd9a4cc383ee62e1ef0a99208.jpg" src="https://www.lexpression.dz/storage/images/article/load_4389c4abd9a4cc383ee62e1ef0a99208.jpg" alt="Le Royaume chérifien ne sait plus à quel saint se vouer" width="400" height="180"></figure>
                            <p>
                                <span>
                                    <span><a href="https://www.lexpression.dz/internationale">Internationale</a></span> 
                                    00:00 | 03-03-2022
                                </span> 
                                Lâché par les partis et la société civile
                            </p>
                            <h3><a href="https://www.lexpression.dz/internationale/le-pouvoir-du-makhzen-se-lezarde-354148">Le pouvoir du Makhzen se lézarde</a></h3>
                        </li>
                                            <li>
                            <figure><img class="lazyload blur" data-src="https://www.lexpression.dz/images/nothumbs_s.gif" src="https://www.lexpression.dz/images/nothumbs_m.gif" alt="" width="400" height="180"></figure>
                            <p>
                                <span>
                                    <span><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele">De Quoi j&#039;me Mêle</a></span> 
                                    00:00 | 26-02-2022
                                </span> 
                                
                            </p>
                            <h3><a href="https://www.lexpression.dz/chroniques/de-quoi-jme-mele/prochaine-extradition-de-bouchouareb-322671">Prochaine extradition de Bouchouareb</a></h3>
                        </li>
                                    </ol>
            </article>
        
    </div>

    <figure class="scheme-pattern"><ins data-revive-zoneid="5"  data-revive-id="cda2c019617d2e57d57985e1a03978e0"></ins>
<script async src="https://ads.lexpressiondz.com/www/delivery/asyncjs.php"></script></figure>
</div>            </main>

            
            
            
            
            <footer id="footer">
    
      <form action="/" method="post" id="app_newsletter" v-on:submit.prevent="send">
    <div>
        <h3>S’inscrire à la <span>newsletter</span></h3>
        <p>Tous les jours découvrez les titres de l’actualité à la une</p>
        <p v-bind:class="responseClass" v-for="(error, key) in errors"><strong>{{ key }}</strong>: {{ error[0] }}</p>        
    </div>
    <p>
        <label for="nom"><i class="icon-user"></i> Votre Nom</label>
        <input type="text" id="nom" name="nom" required v-model="nom">
    </p>
    <p>
        <label for="email"><i class="icon-envelope"></i> Votre email </label>
        <input type="email" id="email" name="email" required v-model="email">
    </p>
    <p><button type="submit">Inscription</button></p>
</form> 

      <nav>
          <p>Quotidien d'informations générales</p>

          
        <ul>
    <li><a href="/">Accueil</a></li>
            <li>
            <a href="https://www.lexpression.dz/page/contact-1">Contact</a>
        </li>
    </ul>

        <ul class="list-social">
            <li><a rel="external" href="https://play.google.com/store/apps/details?id=com.novasup.lexpression.activity"><i class="icon-google-play"></i> <span>Google Play</span></a></li>
            <li><a rel="external" href="https://twitter.com/LEXPRESSION2"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
            <li><a rel="external" href="https://www.facebook.com/Lexpression-300135350084509/"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
            <li><a href="https://www.lexpression.dz/feeds/index.rssi"><i class="icon-rss"></i> <span>RSS</span></a></li>
        </ul>
    </nav>
    <div>
        <div>
            <p>Tél. :  <a href="tel:023709401">023 70.94.01</a> - <a href="tel:023709403">023 70.94.03</a> - <a href="tel:023709411">023 70.94.11</a> - Fax : <a href="tel:./">023709398</a></p>
            <p><span class="text-uppercase">Journal national d’information</span><br> Maison de la presse Kouba Alger</p>
        </div>
        <p>&copy; www.lexpressiondz.com - tous droits réservés - Conception et Réalisation <a rel="external" href="https://www.kreo-agency.com/"><i class="icon-kreo"></i> <span class="hidden">Kreo</span></a></p>                 
    </div>
</footer>        </div>

    </body>
</html>
